@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.cdnfonts.com/css/repetition-scrolling');
@import url('https://fonts.cdnfonts.com/css/clear-sans');


.taskmobile {
    display: none;
}

@media (max-width: 600px) {
    .navcontent ul {
    display: none;
}

.menubutton1 button{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    position: static;
}

.menubutton1 a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.menubutton1 #menucontent1{
    display: none;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    top: 120%;
    left: auto;
    right: 0%;
    transform: translateX(20px);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.navcontent a { 
    display: none;
}

.navcontent {
  display: none;
}

.navmo {
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.taskmobile {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px;
}

.taskmobile ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.taskmobile a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    font-size: 15pt;
    font-family: 'Minecraft', sans-serif;
    cursor: pointer;
    -webkit-transition: .5 ease-in-out;
    -moz-transition: .5 ease-in-out;
    -ms-transition: .5 ease-in-out;
    -o-transition: .5 ease-in-out;
    transition: .5 ease-in-out;
}

.taskmobile {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.taskmobile a:hover {
    color: #adadad;
}

.taskmobile a:active {
    color: #646464
}

.title {
        font-size: 1.5rem;
    }

.title span {
        font-size: 1.9rem; 
    }

}


.card {
  flex: 1 1 100%; 
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto', 'Lexend Deca', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #090900;
    z-index: 0;
    
}

nav {
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

button {
    background-color: #101010;
    color: #f9f9f9;
    padding: 10px;
    font-size: 14pt;
    font-weight: 600;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-inline: 20px;
    position: relative;
}



.navcontent ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navcontent a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    font-size: 15pt;
    font-family: 'Minecraft', sans-serif;
    cursor: pointer;
    -webkit-transition: .5 ease-in-out;
    -moz-transition: .5 ease-in-out;
    -ms-transition: .5 ease-in-out;
    -o-transition: .5 ease-in-out;
    transition: .5 ease-in-out;
}

.navcontent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navcontent a:hover {
    color: #adadad;
}

.navcontent a:active {
    color: #646464
}

.logo {
    flex: 1;
    font-size: 24pt;
    font-weight: 800;
    font-family: 'lexend deca', serif;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: px;
}

.project-title {
    font-size: 2rem;
    font-weight: 500;
}

.project-img img {
    height: 300px;
    width: 300px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Repetition Scrolling', sans-serif;
    color: #adadad;
}

.titlespan {
    padding-left: 20px;
    color: #68020f;
    font-family: 'Clear Sans Medium', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.landing {
    padding-top: 60px;
    background: #FFFFFF;
background: linear-gradient(73deg, rgba(255, 255, 255, 1) 57%, rgba(255, 227, 227, 1) 100%);
    height: calc(100px);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    }

.overlogo {
    position: absolute;
    max-width: 20%;

}
    
.slider-wrapper {
    position: flex;
    width: 50%;
    max-width: 60%;

}

.slider {
    display: flex;
    aspect-ratio: 16 / 7;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    justify-content: right;
    position: absolute;
    column-gap: 1rem;

}

.newinf {
    padding-top: 4%;
    font-family:'Clear Sans Medium', sans-serif;
}

.menubutton button{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    position: static;
}

.menubutton a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.menubutton #menucontent{
    display: none;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    top: 120%;
    left: auto;
    right: 0%;
    transform: translateX(20px);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.menubutton #menunavcontent{
    display:none;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    top: 120%;
    left: auto;
    right: 0%;
    transform: translateX(20px);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.pattern-background {
position: relative;
overflow: hidden;
background-color: #fff;
mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 75%);
-webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 75%);
mask-size: 100% 100%;
-webkit-mask-size: 100% 100%;
mask-repeat: no-repeat;
-webkit-mask-repeat: no-repeat;
}

.pattern-background::before {
content: "";
position: absolute;
inset: -100%;
transform: rotate(75deg);
transform-origin: center;
background-color: #fff;
opacity: 0.1;
background-image: conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, #791010 0.5deg, #791010 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, #791010 0.5deg, #791010 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, #791010 0.5deg, #791010 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, #791010 0.5deg, #791010 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, #791010 0.5deg, #791010 119.5deg, transparent 119.5deg, transparent 120deg), conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, #791010 0.5deg, #791010 119.5deg, transparent 119.5deg, transparent 120deg);
background-position: 0 0, 18px 31px, 0 0, 18px 31px, 18px 0, 0 31px;
background-size: 36px 62px;
}

.project-link {
    width: 150px;
    margin-top: auto;
    z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
    background-color: #101010;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
