@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.cdnfonts.com/css/repetition-scrolling');
@import url('https://fonts.cdnfonts.com/css/clear-sans')
@media (max-width: 600px) {
  .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
  
  .card {
  flex: 1 1 100%; 
}
  nav {
    padding: 10px;
  }
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto', 'Lexend Deca', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #090900;
    z-index: 0;
}

nav {
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

button {
    background-color: #101010;
    color: #f9f9f9;
    padding: 10px;
    font-size: 14pt;
    font-weight: 600;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-inline: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;     
  width: 100%;
}

.content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

.content a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    font-size: 15pt;
    font-family: 'Minecraft', sans-serif;
    cursor: pointer;
    -webkit-transition: .5 ease-in-out;
    -moz-transition: .5 ease-in-out;
    -ms-transition: .5 ease-in-out;
    -o-transition: .5 ease-in-out;
    transition: .5 ease-in-out;
}

.content a:hover {
    color: #adadad;
}

.content ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo {
    flex: 1;
    font-size: 24pt;
    font-weight: 800;
    font-family: 'lexend deca', serif;
    display: flex;
    flex-direction: row;
}

#landing {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 0.42) 97%);
    color: #f9f9f9;
    height: calc(90vh);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -webkit-box-shadow: 1px 19px 25px 9px rgba(0,0,0,0.71);
    -moz-box-shadow: 1px 19px 25px 9px rgba(0,0,0,0.71);
    box-shadow: 1px 19px 25px 9px rgba(0,0,0,0.71);

}

.title {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Repetition Scrolling', sans-serif;
    color: #adadad;
}

.title span {
    color: #68020f;
    font-family: 'Clear Sans Medium', sans-serif;
    font-weight: 900;
}

#project {
    height: 100vh;
    background-image: url('./asset/bg2.jpg');
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    display: flex;
    padding-top: 80px;
    gap: 20px;
}

#footer {
    height: 300px;
    background-color: #090909;
}

.project-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 550px;
    padding: 10px;
    background-color: #f3f3f3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    gap: 30px;
    z-index: 1;
}

.project-title {
    font-size: 2rem;
    font-weight: 500;
}

.project-img img {
    height: 300px;
    width: 300px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.project-link {
    width: 150px;
    margin-top: auto;
    z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
}
