@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.cdnfonts.com/css/repetition-scrolling');
@import url('https://fonts.cdnfonts.com/css/clear-sans');


.taskmobile {
    display: none;
}

@media (max-width: 600px) {
    .navcontent ul {
    display: none;
}


.menubutton1 button{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    position: static;
}

.menubutton1 a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.menubutton1 #menucontent1{
    display: none;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    top: 120%;
    left: auto;
    right: 0%;
    transform: translateX(20px);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.navcontent a { 
    display: none;
}

.navcontent {
  display: none;
}

.navmo {
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.taskmobile {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px;
}

.taskmobile ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.taskmobile a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    font-size: 15pt;
    font-family: 'Minecraft', sans-serif;
    cursor: pointer;
    -webkit-transition: .5 ease-in-out;
    -moz-transition: .5 ease-in-out;
    -ms-transition: .5 ease-in-out;
    -o-transition: .5 ease-in-out;
    transition: .5 ease-in-out;
}

.taskmobile {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

article a{
    color:#333333;
    text-decoration: none;
    font-size: calc(0.8rem);
}

article li{
    margin-left: 15px;
}

article {
    margin: 15px;
    max-width: calc(500px);
    font-size: calc(0.8rem);
    margin-left: 12px;
    background-color: #f6f6f6;
    border-left: 12px solid #970000;
    padding: 14px;
    padding-top: 1px;
    text-decoration: none;
    display: flex;
}

.taskmobile a:hover {
    color: #adadad;
}

.taskmobile a:active {
    color: #646464
}

.title {
        font-size: 1.5rem;
    }

.title span {
        font-size: 1.9rem; 
    }

}



.card {
  flex: 1 1 100%; 
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto', 'Lexend Deca', sans-serif;
}



body {
    margin: 0;
    background-color: #ffffff;
    opacity: 0.8;
    opacity: 1;
    min-height: 100vh;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    background-color: #f6f6fa;
    padding: 0;
    box-sizing: border-box;
    color: #090900;
    z-index: 0;
}

.pattern-background {
position: relative;
overflow: hidden;
background-color: #ffffff;
z-index: 0;
}

.pattern-background::before {
content: "";
position: absolute;
inset: -100%;
transform: rotate(25deg);
transform-origin: center;
background-color: #ffffff;
opacity: 0.8;
background-image:  repeating-linear-gradient(to right, transparent 0, transparent 6.666666666666667px, #ffffff 6.666666666666667px, #ffffff 20px, transparent 20px, transparent 26.666666666666668px), repeating-linear-gradient(to bottom, transparent 0, transparent 6.666666666666667px, #ffffff 6.666666666666667px, #ffffff 20px, transparent 20px, transparent 26.666666666666668px), linear-gradient(to bottom, #c13333 2.4px, transparent 2.4px), linear-gradient(to right, #c13333 2.4px, transparent 2.4px) ;
background-size: 100% 100%, 100% 100%, 80px 80px, 80px 80px;
background-position: 0 0, 0 0, 0 -0.8px, -0.8px 0;
z-index: -1;
}

nav {
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

button {
    background-color: #101010;
    color: #f9f9f9;
    padding: 10px;
    font-size: 14pt;
    font-weight: 600;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}


.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-inline: 20px;
    position: relative;
}



.navcontent ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navcontent a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    font-size: 15pt;
    font-family: 'Minecraft', sans-serif;
    cursor: pointer;
    -webkit-transition: .5 ease-in-out;
    -moz-transition: .5 ease-in-out;
    -ms-transition: .5 ease-in-out;
    -o-transition: .5 ease-in-out;
    transition: .5 ease-in-out;
}

.navcontent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navcontent a:hover {
    color: #adadad;
}

.navcontent a:active {
    color: #646464
}

.logo {
    flex: 1;
    font-size: 24pt;
    font-weight: 800;
    font-family: 'lexend deca', serif;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: px;
}

.project-title {
    font-size: 2rem;
    font-weight: 500;
}

.project-img img {
    height: 300px;
    width: 300px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Repetition Scrolling', sans-serif;
    color: #adadad;
}

.titlespan {
    padding-left: 20px;
    color: #68020f;
    font-family: 'Clear Sans Medium', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.landing {
    padding-top: 60px;
    background: #FFFFFF;
    background: linear-gradient(73deg, rgba(255, 255, 255, 1) 57%, rgba(255, 227, 227, 1) 100%);
    height: calc(100px);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    }

.landing2 {
    margin-top: 15px;
    width: 98%;
    background: white;
    overflow: auto;
    overflow-y: auto;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.congt {
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top:12px;
    width: 98%;
    background: white;
    margin-right:auto;
    margin-left:auto;
    justify-content: left;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    width:98%;
}

article a{
    color:#333333;
    text-decoration: none;
    font-size: calc(0.8rem);
}

article li{
    margin-left: 15px;
}

article {
    margin: 15px;
    max-width: calc(500px);
    font-size: calc(0.8rem);
    margin-left: 12px;
    background-color: #f6f6f6;
    border-left: 12px solid #970000;
    padding: 14px;
    padding-top: 1px;
    text-decoration: none;
    display: flex;
}

.menubutton button{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    position: static;
}

.menubutton a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.menubutton a:hover {
    background-color: #d9d9d9;
}

.menubutton #menucontent{
    display: none;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    top: 120%;
    left: auto;
    right: 0%;
    transform: translateX(20px);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.menubutton #menunavcontent{
    display:none;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    top: 120%;
    left: auto;
    right: 0%;
    transform: translateX(20px);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}



.project-link {
    width: 150px;
    margin-top: auto;
    z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
    background-color: #101010;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    border: none;
    cursor: pointer;
    bottom: 100%;
}